*{
    margin: 0%;
    padding: 0%;
}
.background{
    background-image: url(images/donation6.jpg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background{
    text-align: center;
}
.bg-text1{
    font-size: 70px;
    font-weight: bold;
    color: white;
    padding-top: 100px;
}
.bg-text2{
    font-size: 20px;
    color: white;
    padding: 20px 10px;
}
.bg-text3{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: tomato;
    border-radius: 10px;
    font-weight: 600;
}
.contant1{
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
}
.contant2{
    text-align: center;
    font-size: 20px;
    color: gray;
}
.amount{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.donation{
    box-shadow: 5px 5px 10px white;
    margin-right: 20px;
    padding: 30px;
    background-color: bisque;
}
.select{
    border: 2px solid crimson;
    color: crimson;
}
.underline{
    text-align: center;
    margin-top: 50px;
    color: gray;
    font-size: 20px;
}
.devider{
    width: 700px;
    height: 2px;
    background-color: gray;
    display: inline-block;
}
.start{
    text-align: center;
    margin-top: 20px;
}
.honor{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: tomato;
    border-radius: 10px;
    font-weight: 600;
}
.plan{
    text-align: center;
    margin-top: 30px;
}
.font{
    font-size: 40px;
}
.box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.food{
    height: 2o0px;
    width: 250px;
    border: 1px solid gray;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    padding-left: 10px;
    background-color: burlywood;
}
.help{
    width: 50px;
    padding: 15px;
}
.cloth{
    height: 2o0px;
    width: 250px;
    border: 1px solid gray;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    padding-left: 10px;
    background-color: plum;
}
.medicine{
    height: 2o0px;
    width: 250px;
    border: 1px solid gray;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    padding-left: 10px;
    background-color: darkgrey;
}
.human{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
margin-top: 100px;
display: flex;
}
.title{
    font-size: 40px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 90%;
}
.response{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: tomato;
    border-radius: 10px;
    font-weight: 600;
}
.update{
    text-align: center;
}
.bt{
    margin-top: 30px;
    text-align: center;
    background-color: rgb(192, 189, 151);
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.email{
    padding: 10px 20px;
}
.button{
    padding: 10px 20px;
    background-color: rgb(182, 57, 82);
    color: white;
    font-weight: 300;
}
.ending{
    margin-top: 100px;
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
.hum{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orangered;
    font-weight: 900;
}
.gone{
    color: white;
}